@page

@inject Reframe.Web.Utilites.CultureLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = Localizer.Text("Home");
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<div class="index-conteiner">
    <div class="index-page">
        <div>
            <h3>
                @Localizer.Text("Welcome")</h3>
                <h4>
                    @Localizer.Text("Webportal homework")</h4>
                    <h1>Reframe</h1>
</div>
        <div>
            <img alt="logo" src="logo.svg" />
        </div>
    </div>
    <div class="news-page">
        @foreach (var news in Model.AllNews)
        {
            <a asp-route-culture="@culture" asp-page="News" asp-route-id="@news.Id">

                <div>
                    <p>@news.Description</p>
                    <p class="date">@news.CreationTime</p>
                </div>
            </a>
        }
    </div>
</div>
