@page
@model Reframe.Web.Pages.PlaceListModel
@inject Reframe.Web.Utilites.CultureLocalizer Localizer
@{

    ViewData["Title"] = Localizer.Text("Places");
}
<div class="place-page">
    <div class="col-md-4">
        <form>
            <h4>
                @Localizer.Text("Create Place")
            </h4>
            <hr />

            <div class="form-group">
                <label>
                    @Localizer.Text("Name")
                </label>
                <input onblur="checkIfTaken()" onchange="changing()" id="Name" class="form-control" />
            </div>

            <div class="form-group">
                <label>
                    @Localizer.Text("Number of Desk")
                </label>
                <input id="NumberOfDesk" class="form-control" />
            </div>

            <button onclick="send()" id="place-submit" class="btn btn-primary">@Localizer.Text("Add Place")</button>
        </form>
    </div>
    <div id="placeList">
        <ul>
            @foreach (var item in Model.PlaceList)
            {
                <li id="@item.Id">
                    <p>@Localizer.Text("Name"): @item.Name</p>
                    <p>@Localizer.Text("Desk"): @item.NumberOfDesk</p>
                    <p class="creation-time">@Localizer.Text("Created at"): @item.CreationTime</p>
                </li>
            }
        </ul>
    </div>
</div>
<script src="~/js/place.js"></script>