@page
@model Reframe.Web.Pages.SubjectListModel
@{
    ViewData["Title"] = "Tárgyak";
}
<div class="subject-list">
    <form>
        <div class="form-group">
            <label asp-for="Specification.SearchText">@Localizer.Text("Search Text")</label>
            <input asp-for="Specification.SearchText" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Specification.Credit">
                @Localizer.Text("Credit")
            </label>
            <input asp-for="Specification.Credit" class="form-control" />
        </div>
        <label>
            @Html.RadioButtonFor(m => m.Specification.IsAsc, true)@Localizer.Text("Ascending")
        </label>
        <label>
            @Html.RadioButtonFor(m => m.Specification.IsAsc, false)@Localizer.Text("Descending")
        </label>
        <input class="btn btn-primary" type="submit" value="@Localizer.Text("Filter")" />
    </form>
    <ul class="list-group">
        @foreach (var item in Model.SubjectList)
        {
            <li class="list-group-item">
                <p>@Localizer.Text("Name"): @item.Title</p>
                <p>@Localizer.Text("Description"): @item.Description</p>
                <p>@Localizer.Text("Credit"): @item.Credit</p>
                <p>
                    @Localizer.Text("Creator"): @item.Creator
                </p>
                <a asp-page="Subject" asp-route-id="@item.Id"> @Localizer.Text("Show Courses")</a>
            </li>
        }
    </ul>
</div>