@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = ( await SignInManager.GetExternalAuthenticationSchemesAsync() ).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-route-culture="@culture" asp-page="./Index">@Localizer.Text("Profile")</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-route-culture="@culture" asp-page="./Email">Email</a></li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-route-culture="@culture" id="change-password" asp-page="./ChangePassword">
            @Localizer.Text("Password")
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-route-culture="@culture" asp-page="./ExternalLogins">
                @Localizer.Text("External logins")
            </a>
        </li>
    }
    <li class="nav-item"><a asp-route-culture="@culture" class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">@Localizer.Text("Personal data")</a></li>
</ul>
