@page
@model Reframe.Web.Pages.Auth.AddSubjectModel
@{

    ViewData["Title"] = Localizer.Text("Add Subject");
}
<div class="add-subject">
    <form asp-page-handler="AddSubject" method="post">
        <h4>@Localizer.Text("Add Subject")</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="AddSubject.Title">@Localizer.Text("Title")</label>
            <input asp-for="AddSubject.Title" class="form-control" />
            <span asp-validation-for="AddSubject.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AddSubject.Credit">@Localizer.Text("Credit")</label>
            <input asp-for="AddSubject.Credit" class="form-control" />
            <span asp-validation-for="AddSubject.Credit" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="AddSubject.Description">@Localizer.Text("Description")</label>
            <input asp-for="AddSubject.Description" class="form-control" />
            <span asp-validation-for="AddSubject.Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@Localizer.Text("Add")</button>
    </form>
</div>