@page
@model Reframe.Web.Pages.Auth.ListSelfSubjectModel
@{
    ViewData["Title"] = Localizer.Text("Self Subject");
}

<div class="subject-list">
    <ul class="list-group">
        @foreach (var item in Model.SubjectList)
        {
            <li class="list-group-item">
                <p>@Localizer.Text("Name"): @item.Title</p>
                <p>@Localizer.Text("Description"): @item.Description</p>
                <p>@Localizer.Text("Credit"): @item.Credit</p>
                <p>@Localizer.Text("Creator"): @item.Creator</p>
                <a asp-page="/Subject" asp-route-id="@item.">@Localizer.Text("Show Courses")</a>
            </li>
        }
    </ul>
</div>